#cre-table-title {
	padding-top: 6px; 
	padding-bottom: 6px;
}

.text-align-right {
	text-align: right;
}

.no-padding {
	padding: 0px;
}

.border-top-grey {
	border-top: 1px solid #DADADA;
}

#noofprods-error {
	color: red;
}

#csv-error,
#imagesizes-error {
	color: red;
	font-size: 11px;
}

#csv-prods-row,
#images-size-row {
	display: none;
}

#prodids,
#imagesizes {
	width: 100%;
}

#export-catalog-btn {
	float: left;
}

#export-progress-div {
	display: none;
	font-weight: bold;
}

#export-progress-meter {
	background: #eee; 
	border: 1px solid #DADADA; 
	border-radius: 3px; 
	height: 20px; 
	width: 800px; 
	float: right; 
	margin-left: 5px;"
}

#export-progress-complete {
	width: 0%; 
	height: 100%; 
	background: #84BD00; 
	float: left; 
	font-weight: bold; 
	color: white; 
	border-radius: 3px; 
	padding-right: 3px;
}

#version-div, #load-catalog-exports-div {
	margin-top: 30px; 
	border: 1px solid #DADADA; 
	background: #F5F5F5; 
	padding: 4px;
}

/*** allCatalogs.isml ***/
#catalogs-error {
	color: red;
}

#master-cat-td {
	padding-left: 10px; 
	padding-bottom: 10px;
}

.small-grey-info-text {
	font-size: 11px; 
	color: #666;
}

/*** catalogfiles.isml ***/
#cat-files-table {
	margin-top: 30px;
}

#recent-cat-exports {
	color: #444; 
	padding-top: 6px; 
	padding-bottom: 6px; 
	border-top: 1px solid #DADADA;
}

.th-left {
	border-top: 1px solid #DADADA;
}

.th-right {
	border-top: 1px solid #DADADA; 
	text-align:right;
}

a.catalog-directory-arrow {
	text-decoration: none;
}

.delete-directory-folder {
	color: #B80000;
	cursor: pointer;
	padding-top: 2px; 
	padding-right: 3px; 
	float: left; 
	display: block;
}

.delete-directory-file {
	color: #B80000;
	cursor: pointer;
}

.inner {
	display: none;
}